<html>

<head>
	<meta charset='UTF-8'>
	<title>Equity Research Tool</title>
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js'></script>
	<script src='Chart.min.js'></script> 
	<script src='chart.js'></script>
	<script src='index.js'></script>
</head>

<body>
	<div id='header'>Equity Research Tool</div>
	<div id='main-container'>
		<div id='form-container'>
			<div id="ticker-form">
   				<label for="name">Ticker:</label>
   				<input type="text" id="ticker-input">
  			</div>
		</div>
	</div>
	<div id='graph-container'>
		<canvas id="buyers"></canvas>
	</div>
</body>

</html>
