body {
	margin:0 0;
	overflow:hidden;
	background: -webkit-linear-gradient(left top, #E2EEE2, #EBF9EB);
    font-family: 'Lato', serif;
}

#header {
	display: block;
	width:100%;
	text-align: center;
	color: black;
	font-size:45px;
	font-weight: 400;
	height:70px;
	margin-top: 15px;
	margin-bottom: 0px;
}

#main-container {
	position: relative;
	width: 100%;
}

#ticker-form {
	width:500px;
	display: inline-block;
	margin-left:auto;
	margin-right: auto;
}

label {
	display: inline-block;
}

input {
	display: inline-block;
	border-radius: 5px;
	margin-left:632px;
	width: 175px;
	height: 35px;
	text-align: center;
	font-size: 25px;
}

input:focus {
	outline:none;

}

#NA-alert {
	display: inline-block;
	color: red;
}

.stock-box {
	display: inline-block;
	margin-left:auto;
	margin-right:auto;
	width:300px;
	margin-left:40px;
	margin-top:15px;
}

.stock-box:hover {
	border: 1px black solid;
	border-radius:3px;
}

ul {
	display:inline-block;
	list-style: none;
}

ul span {
	font-weight: bold;
	font-size:20px;
	padding-bottom:10px;
	margin-left:-10px;
}

li {
	margin-top:4px;
}

#graph-container {
	position: absolute;
	margin-left:auto;
	margin-right: auto;
	height: 650px;
	width:900px;
	left:265px;
	top: 365px;
}


canvas {
	background-color: #032303;
	border-radius: 10px;
	opacity: 1;
	padding:10px;
}