/*colors*/
/*030F0B
101F1B
1D2A26*/

body {
	font-family: sans-serif;
	margin:0;
	background-color: #1D2A26;		
}

#header {
	color:white;
	background-color: #030F0B;
}

	/* ------------------------------------ */
  /* -----------     Tiles    ----------- */
  /* ------------------------------------ */

#tile-container {
	background-color: #1D2A26;
	display:flex;
	justify-content: center;
	align-items: center;
	height:250px;
	border-bottom: 1px solid #030F0B;
}

.stock-tile {
	display: inline-block;
	border: 1px solid #65737e;
	border-radius:8px;
	height: 225px;
	width:180px;
	margin:0 15px;
	background: #2b303b;
	color: #65737e;

	-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 0.5s; /* Firefox < 16 */
	-ms-animation: fadein 0.5s; /* Internet Explorer */
	-o-animation: fadein 0.5s; /* Opera < 12.1 */
	animation: fadein 0.5s;

	transition:translate 2s, flex-grow 1000ms;
}

.stock-tile:hover {
	background: white;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.stock-tile h2 {
	margin:3px 0;
	text-align: center;
}

.stock-tile h4 {
	margin:3px 0;
	text-align: center;	
}

.info-container {
	display:block;
	height:20px;
}

.stock-tile p {
	margin: 5px 4px;
	font-size:13px;
}

.category {
	float:left;
	font-weight: 600;
}

.stock-data {
	float:right;
}

	/* ------------------------------------ */
  /* --------     Search Bar     -------- */
  /* ------------------------------------ */

.box {
  margin: 10px auto;
  width: 100%;
  height: 50px;
}

.container-1 {
	margin-left:auto;
	margin-right:auto;
	width: 300px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}

.container-1 input#search{
	width: 300px;
	height: 50px;
	background: #2b303b;
	color: #65737e;
	border: none;
	font-size: 10pt;
	float: left;
	padding-left: 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-transition: background .55s ease;
	-moz-transition: background .55s ease;
	-ms-transition: background .55s ease;
	-o-transition: background .55s ease;
	transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
	color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
	color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
	color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
	color: #65737e;  
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
	outline:none;
	background: #ffffff;
}

.container-1 .icon{
	position: absolute;
	top: 50%;
	margin-left: 17px;
	margin-top: 17px;
	z-index: 1;
	color: #4f5b66;
}

